<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>servlet-simple-project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!--	printWriter example-->
	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>org.example.PrintWriterSample</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>/printWriter</url-pattern>
	</servlet-mapping>

<!--	example for forward dispatcher servlet-->
	<servlet>
		<servlet-name>forward</servlet-name>
		<servlet-class>org.forward.SourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>forward</servlet-name>
		<url-pattern>/source</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>target</servlet-name>
		<servlet-class>org.forward.TargetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>target</servlet-name>
		<url-pattern>/target</url-pattern>
	</servlet-mapping>

<!--	example for include dispatcher servlet-->
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>org.include.SourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>org.include.IncludeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/include</url-pattern>
	</servlet-mapping>

<!--	example for send redirect-->
	<servlet>
		<servlet-name>redirect</servlet-name>
		<servlet-class>org.redirect.SendRedirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirect</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	
<!--	example for servletConfig-->
	<servlet>
		<servlet-name>servletConfig</servlet-name>
		<servlet-class>org.servletconfig.ServletConfigExample</servlet-class>
		<init-param>
			<param-name>message</param-name>
			<param-value>Hello this is the data from web.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletConfig</servlet-name>
		<url-pattern>/servletConfigExample</url-pattern>
	</servlet-mapping>

<!--	example for servletContext-->
	<servlet>
		<servlet-name>servletContext</servlet-name>
		<servlet-class>org.servletcontext.ServletContextExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletContext</servlet-name>
		<url-pattern>/servletContext</url-pattern>
	</servlet-mapping>

<!--	example for session for cookies-->
	<servlet>
		<servlet-name>setCookie</servlet-name>
		<servlet-class>org.session.cookies.SetCookiesSample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>setCookie</servlet-name>
		<url-pattern>/setCookie</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getCookie</servlet-name>
		<servlet-class>org.session.cookies.GetCookiesSample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getCookie</servlet-name>
		<url-pattern>/getCookie</url-pattern>
	</servlet-mapping>
	
<!--	login logout project sample-->
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.loginlogoutsampleproject.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/views/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>org.loginlogoutsampleproject.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/views/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.loginlogoutsampleproject.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/views/LogoutServlet</url-pattern>
	</servlet-mapping>
</web-app>