<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>servlet-simple-project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!--	printWriter example-->
	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>org.example.PrintWriter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>/printWriter</url-pattern>
	</servlet-mapping>

<!--	example for forward dispatcher servlet-->
	<servlet>
		<servlet-name>forward</servlet-name>
		<servlet-class>org.forward.SourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>forward</servlet-name>
		<url-pattern>/source</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>target</servlet-name>
		<servlet-class>org.forward.TargetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>target</servlet-name>
		<url-pattern>/target</url-pattern>
	</servlet-mapping>

<!--	example for include dispatcher servlet-->
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>org.include.SourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>org.include.IncludeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/include</url-pattern>
	</servlet-mapping>
</web-app>